body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("https://static.hbo.com/2022-06/house-of-the-dragon-ka-1920.jpg");
}

p {
  color: white;
  font-size: 50px;
}

input {
  padding: 10px;
  display: inline-block;
  
}

.card {
  max-width: 250px;
  max-height: 350px;
  box-shadow: 0 40px 60px -6px black;
}

.cards {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

img {
  width: 220px;
  height: 290px;
  border-color: floralwhite;
  border-style: double;
 
}

h1 {
  font-size: 25px;
  color: #fff;
  display: inline-block;
  left: 0;
  text-align:center;
  width: 90%
}